body {
    font-family: monospace;
}

.header {
    color: slategrey;
    font-size: 50px;
    padding: 30px;
    border: 10px solid slategrey;
    font-family: monospace;
}

.page {
    padding: 10px;
    height: 210px;
    background-color: aquamarine;
    font-family: monospace;
}

ul li {
    list-style: none;
    margin-bottom: 10px;
    color: slategray;
    margin-right: 10px;
    margin-bottom: 10px;;
    font-size: medium;
    font-weight: bolder;
    font-family: monospace;
}

p {
    font-size: 17px;
    font-weight: bolder;
    color: slategray;
    font-family: monospace;
}

h4 {
    font-family: monospace;
    border-left: 25px solid slategray;
    border-right: 25px solid slategray;
    color: white;
    padding: 10px;
    text-transform: uppercase;
}

button {
    padding: 10px;
    background-color: white;
    color: slategrey;
    width: 110px;
    text-align: center;
    text-transform: uppercase;
    border: 0;
    font-weight: bolder;
    font-size: large;
    margin: 10px;
    font-family: monospace;
}

li {
    text-decoration: none;
    font-weight: bolder;
}

.h2 {
    color: slategrey;
    font-family: monospace;
}

input {
    padding: 10px;
    color: slategray;
    border: 2px solid slategrey;
    font-weight: normal;
    font-size: larger;
    font-family: monospace;
}

.flexing {
    display: flex;
}

.timer {
    width: 70px;
}

.flex {
    display: flex
}

.list {
    list-style: georgian;
}